<h1>1) interpolation</h1>

<p>{{name}}</p>
<p>{{age}}</p>


<h1>2) property binding</h1>

<input type="text" [value]="email">

<h1>3) event binding</h1>

<button type="button" (click)="clickMe()">Click me</button>

<h1>4) Two-way data binding</h1>

<p>{{salary}}</p>

<input type="text" [(ngModel)]="salary">

<h1>5) component communication</h1>
<app-order [message]="message"></app-order>
